/* colors */
$primary: #012f38;
$secondary: #db761c;
$tertiary: #00232d;
$accent: #0da89b;
$dark-green: #165e63;

$black: #212121;
$dark-gray: #424242;
$white-color: #f8f8f6;

/* card */
$border-radius-big: 40px;
$border-radius-mid: 20px;

$box-shadow-small: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
  0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
